<br/><br/><br/><br/>
<div class="container">

  <form method="GET">
    <div class="form-group">
      <input type="text" class="form-control" name="query" placeholder="검색">
    </div>
  </form>

  <div class="row">
    <div class="col-md-4">
      <% @public.each do |post| %>
        <%= post.title %> <br/>
        <%= post.number %> <br/>
        <%= post.writer %> <br/>
        <%= post.period %> <br/>
        <br/>
      <% end %>
    </div>

    <div class="col-md-4">
      <% @notice.each do |post| %>
        <%= post.title %> <br/>
        <%= post.number %> <br/>
        <%= post.writer %> <br/>
        <%= post.period %> <br/>
        <br/>
      <% end %>
    </div>

    <div class="col-md-4">
      <% @recrult.each do |post| %>
        <%= post.title %> <br/>
        <%= post.number %> <br/>
        <%= post.writer %> <br/>
        <%= post.period %> <br/>
        <br/>
      <% end %>
    </div>

  </div>



</div>
