
<body id="page-top" class="index">

    <!-- Navigation
    <nav class="navbar navbar-default navbar-fixed-top navbar-custom">-->
    <nav class="navbar navbar-default navbar-custom">
        <div class="container">
            <a class="navbar-brand">JBNU Searcher</a>

<!--
            <div class="navbar-collapse">
              <a class="" href="#page-top"></a>
              <a class="nav navbar-nav navbar-right" href="#about">About</a>
              <a class="navbar-nav text-center" href="#portfolio">Portfolio</a>
              <a class="navbar-nav" href="#contact">Contact</a>
            </div>
-->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <br/><br/><br/>


      <div class="container">

        <div class="searchbar">
          <form role="form" action="/home/main" accept-charset="UTF-8" method="get">
            <input type="hidden" name="tab" value="<%= @tab %>"/>
            <div class="input-group has-clear has-empty-value">
              <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
              <input required="required" placeholder="질문을 검색하세요." class="form-control input" name="query" id="text" type="text" value="<%= @query %>">
            </div>
          </form>
        </div>

        <br/><br/>

        <ul class="nav nav-pills">
          <% @notice_list.each do |s| %>
            <li class="<% if s == @tab %>active<% end %>">
              <a href="?tab=<%= s %>&query=<%=@query%>"><%= s %></a>
            </li>
          <% end %>
        </ul>
        <ul class="nav nav-pills">
          <% @post_list.each do |s| %>
            <li class="<% if s == @tab %>active<% end %>">
              <a href="?tab=<%= s %>&query=<%=@query%>"><%= s %></a>
            </li>
          <% end %>
        </ul>

        <br/><br/>

        <ul class="board-list">
          <% @boards.each do |board| %>
          <li class="board-item">
            <div class="row">
              <div class="col-md-2">
                <div class="row">
                  <h4><%=board.number%></h4>
                </div>
              </div>
              <div class="col-md-10">
                <div class="row">
                  <h4><a href="http://www.chonbuk.ac.kr<%= board.content %>&pageKey=34" target="_blank"><%=board.title%></a></h4>
                </div>
                <div class="row">
                  <div class="text-right">
                      <h5><%=board.writer%>  <%=board.period%></h5>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <% end %>
        </ul>

      </div>





    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>3481 Melrose Place
                            <br>Beverly Hills, CA 90210</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About Freelancer</h3>
                        <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Your Website 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>





</body>

</html>
