<div class="row">
  <div class="col-md-6">
    <ul class="board-list">
      <h4>학사공지</h4>
      <% @public.each_with_index do |board,i| %>
      <% unless i < 5 ; break ; end %>
      <li class="board-item">
        <div class="row">
          <div class="col-md-2">
            <div class="row">
              <h4><%=board.number%></h4>
            </div>
          </div>
          <div class="col-md-10">
            <div class="row">
              <h4><a href="http://www.chonbuk.ac.kr<%= board.content %>&pageKey=34" target="_blank"><%=board.title%></a></h4>
            </div>
            <div class="row">
              <div class="text-right">
                  <h5><%=board.writer%>  <%=board.period%></h5>
              </div>
            </div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="board-list">
      <h4>일반공지</h4>
      <% @notice.each_with_index do |board,i| %>
      <% unless i < 5 ; break ; end %>
      <li class="board-item">
        <div class="row">
          <div class="col-md-2">
            <div class="row">
              <h4><%=board.number%></h4>
            </div>
          </div>
          <div class="col-md-10">
            <div class="row">
              <h4><a href="http://www.chonbuk.ac.kr<%= board.content %>&pageKey=34" target="_blank"><%=board.title%></a></h4>
            </div>
            <div class="row">
              <div class="text-right">
                  <h5><%=board.writer%>  <%=board.period%></h5>
              </div>
            </div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <ul class="board-list">
      <h4>교내채용</h4>
      <% @recrult.each_with_index do |board,i| %>
      <% unless i < 5 ; break ; end %>
      <li class="board-item">
        <div class="row">
          <div class="col-md-2">
            <div class="row">
              <h4><%=board.number%></h4>
            </div>
          </div>
          <div class="col-md-10">
            <div class="row">
              <h4><a href="http://www.chonbuk.ac.kr<%= board.content %>&pageKey=34" target="_blank"><%=board.title%></a></h4>
            </div>
            <div class="row">
              <div class="text-right">
                  <h5><%=board.writer%>  <%=board.period%></h5>
              </div>
            </div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="board-list">
      <h4>특강/세미나</h4>
      <% @seminar.each_with_index do |board,i| %>
      <% unless i < 5 ; break ; end %>
      <li class="board-item">
        <div class="row">
          <div class="col-md-2">
            <div class="row">
              <h4><%=board.number%></h4>
            </div>
          </div>
          <div class="col-md-10">
            <div class="row">
              <h4><a href="http://www.chonbuk.ac.kr<%= board.content %>&pageKey=34" target="_blank"><%=board.title%></a></h4>
            </div>
            <div class="row">
              <div class="text-right">
                  <h5><%=board.writer%>  <%=board.period%></h5>
              </div>
            </div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <ul class="board-list">
      <h4>공모/스터디</h4>
      <% @study.each_with_index do |board,i| %>
      <% unless i < 5 ; break ; end %>
      <li class="board-item">
        <div class="row">
          <div class="col-md-2">
            <div class="row">
              <h4><%=board.number%></h4>
            </div>
          </div>
          <div class="col-md-10">
            <div class="row">
              <h4><a href="http://www.chonbuk.ac.kr<%= board.content %>&pageKey=34" target="_blank"><%=board.title%></a></h4>
            </div>
            <div class="row">
              <div class="text-right">
                  <h5><%=board.writer%>  <%=board.period%></h5>
              </div>
            </div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="board-list">
      <h4>아르바이트</h4>
      <% @alba.each_with_index do |board,i| %>
      <% unless i < 5 ; break ; end %>
      <li class="board-item">
        <div class="row">
          <div class="col-md-2">
            <div class="row">
              <h4><%=board.number%></h4>
            </div>
          </div>
          <div class="col-md-10">
            <div class="row">
              <h4><a href="http://www.chonbuk.ac.kr<%= board.content %>&pageKey=34" target="_blank"><%=board.title%></a></h4>
            </div>
            <div class="row">
              <div class="text-right">
                  <h5><%=board.writer%>  <%=board.period%></h5>
              </div>
            </div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <ul class="board-list">
      <h4>판매/구매/광고</h4>
      <% @market.each_with_index do |board,i| %>
      <% unless i < 5 ; break ; end %>
      <li class="board-item">
        <div class="row">
          <div class="col-md-2">
            <div class="row">
              <h4><%=board.number%></h4>
            </div>
          </div>
          <div class="col-md-10">
            <div class="row">
              <h4><a href="http://www.chonbuk.ac.kr<%= board.content %>&pageKey=34" target="_blank"><%=board.title%></a></h4>
            </div>
            <div class="row">
              <div class="text-right">
                  <h5><%=board.writer%>  <%=board.period%></h5>
              </div>
            </div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="board-list">
      <h4>자취/하숙/원룸</h4>
      <% @live.each_with_index do |board,i| %>
      <% unless i < 5 ; break ; end %>
      <li class="board-item">
        <div class="row">
          <div class="col-md-2">
            <div class="row">
              <h4><%=board.number%></h4>
            </div>
          </div>
          <div class="col-md-10">
            <div class="row">
              <h4><a href="http://www.chonbuk.ac.kr<%= board.content %>&pageKey=34" target="_blank"><%=board.title%></a></h4>
            </div>
            <div class="row">
              <div class="text-right">
                  <h5><%=board.writer%>  <%=board.period%></h5>
              </div>
            </div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <ul class="board-list">
      <h4>분실/습득</h4>
      <% @found.each_with_index do |board,i| %>
      <% unless i < 5 ; break ; end %>
      <li class="board-item">
        <div class="row">
          <div class="col-md-2">
            <div class="row">
              <h4><%=board.number%></h4>
            </div>
          </div>
          <div class="col-md-10">
            <div class="row">
              <h4><a href="http://www.chonbuk.ac.kr<%= board.content %>&pageKey=34" target="_blank"><%=board.title%></a></h4>
            </div>
            <div class="row">
              <div class="text-right">
                  <h5><%=board.writer%>  <%=board.period%></h5>
              </div>
            </div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
